@model IEnumerable<Solution.DAL.Models.Order>

<h1>Orders</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Number</th>
        <th>ProviderId</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.Date</td>
            <td>@order.Number</td>
            <td>@order.ProviderId</td>
        </tr>
    }
    </tbody>
</table>